:root {
  --body_backgorund: whitesmoke;
  --body_color: black;
  --link_color: coral;
  --link_active_color: red;
  --hr_border_color: #ddd;
  --button_color: #4979ff;
  --title_color: #333;
  --text_color: #777;
  --card_color: #fff;
}
[data-theme="dark"] {
  --body_backgorund: #2e2e48;
  --body_color: white;
  --link_color: white;
  --link_active_color: red;
  --hr_border_color: #dbd5d5;
  --button_color: #4979ff;
  --title_color: #fff;
  --text_color: whitesmoke;
  --card_color: #564a49;
}
* {
  transition: all 0.2s ease-in-out;
}
body {
  background-color: var(--body_backgorund);
  width: 70%;
  margin: auto;
}

.navbar {
  display: flex;
  padding: 10px 50px;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid var(--hr_border_color);
}
.logo {
  margin-right: auto;
}
.links {
  display: flex;
  column-gap: 30px;
}
.link {
  text-decoration: none;
  font-size: 20px;
  color: var(--link_color);
}
.active {
  color: var(--link_active_color);
}
.footer {
  display: block;
  text-align: center;
  border-top: 1px solid var(--hr_border_color);
  margin-top: 30px;
  color: var(--body_color);
}
.not-found {
  text-align: center;
}
.back-home {
  color: var(--button_color);
}
/* NPROGRESS STYLE START */
/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: var(--link_active_color);

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 6px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px var(--link_active_color),
    0 0 5px var(--link_active_color);
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: var(--link_active_color);
  border-left-color: var(--link_active_color);
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* NPROGRESS STYLE STOP */
@media only screen and (max-width: 700px) {
  body {
    width: 95%;
  }
}

@media only screen and (max-width: 500px) {
  body {
    width: 95%;
  }
  .navbar {
    justify-content: space-between;
  }
  .logo {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .navbar {
    flex-direction: column;
  }
}
