.single {
  background-color: var(--card_color);
  padding: 1px 16px;
  display: block;
  margin: 10px;
  border-left: 8px solid transparent;
  border-left: 8px solid transparent;
  cursor: pointer;
  text-decoration: none;
  color: var(--text_color);
}
.single:hover {
  border-left: 8px solid var(--button_color);
  border-right: 8px solid var(--button_color);
}
